<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\Admin\Documents\NetBeansProjects\movieManagementSystem\dist\MovieManagementSystem.jar</jar>
  <outfile>C:\Users\Admin\Documents\NetBeansProjects\movieManagementSystem\dist\MovieManagementSystem.exe</outfile>
  <errTitle>Install java first</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\Admin\Downloads\icon.ico</icon>
  <singleInstance>
    <mutexName>Movie Management System</mutexName>
    <windowTitle>Movie Management System</windowTitle>
  </singleInstance>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>1.8.0</minVersion>
    <maxVersion></maxVersion>
  </jre>
  <versionInfo>
    <fileVersion>1.0.0.0</fileVersion>
    <txtFileVersion>1.0.0.0</txtFileVersion>
    <fileDescription>Movie Management System</fileDescription>
    <copyright>NIL</copyright>
    <productVersion>1.0.0.0</productVersion>
    <txtProductVersion>1.0.0.0</txtProductVersion>
    <productName>MovieManagement</productName>
    <companyName>Mansanitas</companyName>
    <internalName>MovieManagement</internalName>
    <originalFilename>MovieManagement.exe</originalFilename>
    <trademarks></trademarks>
    <language>ENGLISH_US</language>
  </versionInfo>
</launch4jConfig>